# Compiled binary
*.exe
*.exe~
*.dll
*.so
*.dylib

# Executables
bin/
pkg/

# Testing
*.test
*.prof

# Dependency directories
vendor/

# IDE/Editor specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

#Binaries folder
binaries/